/* Icons Demo*/
@import url('https://fonts.googleapis.com/css?family=Muli:300');

body {
    font-family: sans-serif;
    background: #F7F7F7;
  }  

.demo-icons { 
    max-width: 1140px;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    grid-gap: 8px;
    align-items: center;
}

.demo-icons-item { 
    display: flex; 
    flex-direction: column; 
    align-items: center; 
    flex-grow:1; 
    flex-basis: 12%;
    width:120px;
    height:110px; 
    text-align: center; 
    padding-top: 20px; 
    border: 0.5px solid rgba(234, 239, 246, 0.5); 
    background: #FFFFFF; 
}

.demo-icons-name { 
    font-size: 11px;
}

.topbar {
    max-width: 1140px;
    margin: 0 auto;
    margin-bottom: 20px;
    text-align: center;
}

.logo-text {
   font-family: 'Muli', sans-serif;
   margin-bottom: 8px;
}

.version {
   margin: 0 auto;
   padding: 4px;
   color: #FFF;
   background: #B3B3B3;
   width: 50px;
   border-radius: 20px;
}


/* Search */

.result-number {
    font-size: 12px;
}

.search-input {
    width: 380px;
    height: auto;
    font-size: 12px;
    margin-top: 15px;
    border-radius: 4px;
    border: solid 1px #CCCCCC;
    outline: 0;
    padding: 10px 10px;
    transition: background-color .2s ease;
}

.search-input:focus {
    border: solid 1px #999999;
}

/* Icon styles */

.icon {
  display: inline-block;
  width: 24px;
  height: 24px;
  stroke-width: 0;
  stroke: #4d4d4d;
  fill: currentColor;
  color: #4D4D4D;
  vertical-align: middle;
  transition: .2s;
}
.icon:hover {
  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
  color: #666666;
}
.icon.small {
  width: 16px;
  height: 16px;
}
.icon.medium {
  width: 24px;
  height: 24px;
}
.icon.large {
  width: 32px;
  height: 32px;
}
.icon.huge {
  width: 64px;
  height: 64px;
}
.icon.light {
  color: white;
}
.icon.dark {
  color: black;
}


/* Vue cloak https://vuejs.org/v2/api/#v-cloak 
Se utiliza para esconder las etiquetas mustache {{ }} mientras no 
se ha cargado el contenido */

[v-cloak] {
    display: none;
}
